*{
  margin: 0;
  border: 0;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  height: 108px;
}

.header-img{
  height: 52px;
  width: 43px;
}

.header-text{
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -5;
  line-height: 60px;
  margin-left: 7px;
}

.form{
  background-color: #FAFAF8;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  

}

.form-ip{
  background-color: white;
  width: 700px;
  height: 20px;
  border-radius: 6px;
  padding: 9px 13px;
  color: gray;
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 660px 20px;
}

.form-button{
background-color: #141413;
border-radius: 6px;
padding: 9px 13px;
color: white;
width: 200px;
height: 38px;
font-size: 16px;
}

#ingredients{
  margin-left: 80px;
  font-family: Inter, sans-serif;
  font-size: 20px;
}

.list-head{
  margin-left: 60px;
  font-family: Inter, sans-serif;
  font-size: 26px;
}

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 20px 8px 10px;
    margin: 20px 20px;
    font-family: Inter, sans-serif;
    
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    margin-left: 50px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
    margin-left: 50px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 13px;
    font-family: Inter, sans-serif;
    width: 150px; 
    height: 38px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 50px;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: Inter, sans-serif;
    margin: 20px 20px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}

.suggestedRecipe-head{
  margin: 20px 20px;
  font-family: Inter, sans-serif;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}